@model List<Student>
@{
    ViewData["Title"] = "Таблица";
}
<div class="text-center">
    <h2>Таблица:</h2>
    <table class="table-bordered">
        <thead>
            <tr>
                <td>Имя</td>
                <td>Дата Решения(МСК)</td>
                <td>Результат</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Student s in Model)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.Date.AddHours(3)</td> <!--МСК это UTC+3-->
                    <td>@s.Result</td>
                </tr>
            }
        </tbody>
    </table>
</div>