@model Int32
@using HistoryServer.Controllers
@{
    ViewData["Title"] = "Результат";
}
<h1>@ViewData["Title"]</h1>
<h3>Твой результат: @(Model)/24</h3>
<p>@((int)((float)Model/24.0f*100))%</p>
<div class="container">
<form method="post" action="/send">
    <input class="border-dark" placeholder="Введите Имя" name="name" type="text" /><br />
    <input class="btn-primary" type="submit" value="Отправить">
</form>
</div>
